<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tp.mentoring.mapper.MentoringMapper">
 	<!-- 전체 정렬시 -->
 	<select id="selectMentoringList" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
	<select id="selectMentoringCount" resultType="int">
		<![CDATA[
	    select count(MTR_SEQ) from MENTORING
	    ]]>
	</select>
	<!-- 운동 정렬시 -->
	 <select id="selectMentoringListExercise" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like 0 order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
 	<!-- 음악 정렬시 -->
 	<select id="selectMentoringListMusic" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like 1 order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
 	<!-- 공예 정렬시 -->
  	<select id="selectMentoringListCraft" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like 2 order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
	<!-- 요리 정렬시 -->
  	<select id="selectMentoringListCooking" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like 3 order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
	<!-- 사진&영상정렬시 -->
  	<select id="selectMentoringListMedia" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like 4 order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
	<!-- 뷰티 정렬시 -->
  	<select id="selectMentoringListBeauty" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like 5 order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
	<!-- 음료 정렬시 -->
  	<select id="selectMentoringListBeverage" resultType="Mentoring" parameterType="MentoringPagingVo">
	    <![CDATA[
	    select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like 6 order by MTR_SEQ desc) aa)
			 where rnum>#{startRow} and rnum<=#{endRow}
	    ]]>
 	</select>
 	
 	<!-- 멘토링 일반검색시 -->
 	<select id="selectMentoringListSearch" resultType="Mentoring" parameterType="MentoringPagingVo">
 		<![CDATA[
 		 select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTR_SUBJECT like '%'||#{word}||'%' order by MTR_SEQ desc) aa)
	     where rnum>#{startRow} and rnum<=#{endRow}
 		]]>
 	</select>
 	<select id="selectMentoringSearchCount" resultType="int" parameterType="String">
 		<![CDATA[
 		select count(MTR_SEQ) from MENTORING where MTR_SUBJECT like '%'||#{word}||'%'
 		]]>
 	</select>
 	
 	<select id="selectMentoringHashListSearch" resultType="Mentoring" parameterType="MentoringPagingVo">
 	 	<![CDATA[
 		 select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
	     from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTR_HASHTAG like '%'||#{word}||'%' order by MTR_SEQ desc) aa)
	     where rnum>#{startRow} and rnum<=#{endRow}
 		]]>
 	</select>
 	<select id="selectMentoringHashSearchCount" resultType="int" parameterType="String">
 	 	<![CDATA[
 		select count(MTR_SEQ) from MENTORING where MTR_HASHTAG like '%'||#{word}||'%'
 		]]>
 	</select>
 	
 	
 	
 	<!-- 멘토링 테이블 -->
 	<select id="selectMentoringViewPage" resultType="MentoringViewPageVo" parameterType="long">
 		<![CDATA[
 		SELECT * FROM MENTORING WHERE MTR_SEQ like #{mtr_seq}
 		]]>
 	</select>
 	<!-- 멘토링_상세_정보 테이블 -->
 	<select id="selectMentoringDetailInfo" resultType="Mentoring_Detail_Info" parameterType="long">
 		<![CDATA[
 		select MTRDI_SEQ, TO_CHAR(MTRDI_STIME, 'YYYY-MM-DD HH24:MI') as mtrdi_stime, TO_CHAR(MTRDI_ETIME, 'YYYY-MM-DD HH24:MI') as mtrdi_etime, MTRDI_MAX_PCNT, MTRDI_NOW_PCNT, MTR_SEQ  from MENTORING_DETAIL_INFO where MTR_SEQ like #{mtr_seq}
 		]]>
 	</select>
 	<!-- 상세정보 관련된 멘토링가져오기 -->
 	<select id="selectRelativeMentoring" resultType="Mentoring" parameterType="hashmap">
 		<![CDATA[
 		select MTR_SEQ, MTR_SUBJECT, MTR_CONTENT, MTR_PRICE, MTR_AREA, MTR_ADDR, MTR_JUMSU, MTR_PROFILE, MTR_HASHTAG, MTRCG_NO, MEM_EMAIL
 		 from (select ROWNUM rnum , aa.* from (select * from Mentoring where MTRCG_NO like #{mtrcg_no} and MTR_SEQ not like #{mtr_seq} order by MTR_SEQ desc) aa) where rnum>0 and rnum<=4
 		]]>
 	</select>
 	<!-- 멘토링 검색어완성 -->
 	<select id="selectAutoSearchSubject" resultType="String" parameterType="String">
 		<![CDATA[
 		SELECT MTR_SUBJECT FROM (SELECT ROWNUM rnum, aa.* FROM(SELECT * FROM MENTORING WHERE MTR_SUBJECT LIKE '%'||#{word}||'%') aa ) WHERE rnum > 0 and rnum <= 10 order by MTR_JUMSU desc
 		]]>
 		<!-- '%'||#{word}||'%' 포함되는-->
 		<!-- #{word}||'%' word로 시작하는 -->
 	</select>
 	
 	<!-- 멘토링 해시태그검색어완성 -->
 	<select id="selectAutoSearchHashtag" resultType="String" parameterType="String">
 		<![CDATA[
 		SELECT MTR_HASHTAG FROM (SELECT ROWNUM rnum, aa.* FROM(SELECT * FROM MENTORING WHERE MTR_HASHTAG LIKE '%'||#{word}||'%') aa ) WHERE rnum > 0 and rnum <= 10 order by MTR_JUMSU desc
 		]]>
 	
 	</select>
 	<select id="selectMentoringQAList" resultType="Mentoring_QA" parameterType="long">
 		<![CDATA[
 		select * from (select ROWNUM rnum , aa.* from (select * from Mentoring_QA where MTR_SEQ = #{mtr_seq} order by MTRQA_SEQ desc) aa)
		where rnum>0 and rnum<=3
 		]]>
 	
 	</select>
 	
 	
 	<select id="selectMentor" resultType="MentorInfoVo" parameterType="String">
 		<![CDATA[
 		SELECT * FROM MENTOR_LIST natural join MEMBER WHERE MEM_EMAIL = #{mem_email}
 		]]>
 	</select>
 	
 	<select id="selectMentoringWriter" resultType="String" parameterType="long">
 		<![CDATA[
 		SELECT MEM_EMAIL FROM MENTORING WHERE MTR_SEQ = #{mtr_seq}
 		]]>
 	</select>
 	
 	<select id="selectMentoringQACount" resultType="long" parameterType="long">
		<![CDATA[
		SELECT COUNT(*) FROM MENTORING_QA WHERE MTR_SEQ = #{mtr_seq}
		]]> 	
 	</select>
 	
 	<select id="selectMentoringReviewCount" resultType="long" parameterType="long">
 		<![CDATA[
 		SELECT COUNT(*) FROM MENTORING_REVIEW WHERE MTR_SEQ = #{mtr_seq}
 		]]>
 	</select>
 	
 	
</mapper>